# Virtual environments
venv/
.venv/

# macOS system files
.DS_Store

# Python compiled files and cache
*.pyc
__pycache__/

# Local SQLite database
db.sqlite3

# Backup and workspace folders
frontend_backup/
work-app/

# Angular cache
frontend/.angular/

# Node modules
node_modules
